<!DOCTYPE html>
<html>
<head>
    <link href="index.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Connexion</title>
</head>
<body>
    <h1>Accueil</h1><br><br>
    <div id="corps">
    	<a href="/adminapplication">
        <div class="bouton">
        	<h1>Administration<br> de l'application</h1>
        </div>
        </a>
        <a href="/aeroports">
        <div class="bouton">
        	<h1>Gérer les stocks<br> des aeroports</h1>
        </div>
        </a>
        <a href="/lsavions">
        <div class="bouton">
            <h1>Gérer les stocks<br> des avions</h1>
        </div>
        </a>
        <a href="/ajouter">
        <div class="bouton">
            <h1>Ajouter: <br>Aeroport, avion, produit</h1>
        </div>
        </a>
    </div>
            <footer>
            <hr />
            Copyright © 2015 - Massive Technologies - Tous droits réservés.
            <hr />
        </footer>
</body>
</html>